@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --action:#6A29F4;
    --hero:#1D152D;
    --text:#3D354D;
    --support:#867B9E;
    --design:#DED6F0;
    --surface-secondary:#F5F3FA;
    --surface-primary:#FFFFFF;
    
    h1 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    h2 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    h3 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    h4 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    h5 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    h6 {
        padding:0px;
        margin:0px;
        color:var(--hero);
    }

    p {
        padding:0px;
        margin:0px;
        color:var(--text);
    }
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin:0px;
    padding:0px;
    display:flex;
}

li {
    list-style: none;
}

.sideBar {
    background-color: var(--surface-primary);
    display:flex;
    flex-direction: column;
    color:var(--hero);
    padding:8px;
    align-items: flex-start;
    justify-content: flex-start;
    gap:32px;
    padding-right: 32px;
    z-index: 2;
}

ul {
    padding:0px;
    margin:0px;
}

.menuItem {
    padding:16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
}

.pageTitle {
    display:flex;
    gap:12px;
}

.menuItem:hover {
    background-color: var(--surface-secondary);
}

.rightBodyColumn {
    width:100%;
}

.actionBar {
    display:flex;
    padding:16px;
    background: var(--surface-primary);
    color:var(--text);
    flex-direction: column;
    gap:32px;
}

.actionBarRow1 {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.searchWrapperRow {
    display:inherit;
    gap:16px;
    align-items: center;
    flex:1;
}

.profileSmall {
    min-width: 48px;
    min-height:48px;
    background:var(--hero);
    border-radius: 50%;
    flex:1 0 0;
}

.smallProfileWrapperRow {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


label {
    flex:1;
    display:flex;
    padding:12px;
}

input {
    padding:6px;
    border-radius: 8px;
    border-style: none;
    border: 2px solid var(--support);
    background:transparent;
    flex:1;
    color:var(--hero);
}

.actionBarRow2 {
    display:flex;
    justify-content: space-between;
}

.profileLarge {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    display: inline-block;
}

.largeProfileWrapperRow {
    display:flex;
    gap:16px;
}

.buttonWrapperRow {
    display:flex;
    gap:8px;
    align-items: center;
    justify-content: center;
}

button {
    padding: 12px;
    border-style: none;
    color:var(--surface-primary);
    border-radius: 8px;
}

button:hover {
    background:var(--surface-secondary);
    color:var(--text)
}

.primaryButton {
    background: var(--action);
}

.secondaryButton {
    border:2px solid var(--action);
    color:var(--action);
    background: transparent;
}

.secondaryButton:hover {
    color:var(--text);
}

.tertiaryButton {
    background: transparent;
    text-decoration: underline;
    text-underline-offset: 6px;
    color:var(--action);
}

.dashboardContentRow {
    display:flex;
    padding:16px;
    gap:32px;
    background:var(--surface-secondary);
    box-shadow: ;
}

.gridContent {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:16px;
    grid-template-rows: 44px;   
}

.projectsHeader {
    grid-column: 1/3;
    grid-row: 1;
    place-content: center;
}

.card {
    background: var(--surface-primary);
    padding:16px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:8px;
    border-radius: 12px;
    grid-column: 1fr;
    border-left: 6px solid var(--support);
}

.iconRow {
    flex:1;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    gap:12px;
    color:var(--support);
}

.supportText {
    color:var(--support);
}

.newsCenterColumn {
    display: flex;
    flex-direction: column;
    gap:32px;
    padding-right: 16px;
    min-width:350px;
}

.announcementsContainerColumn {
    display:flex;
    flex-direction: column;
    gap:32px;
}

.announcementsCard {
    background: var(--surface-primary);
    border-radius: 12px;
    padding:16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.columnWithUnderline {
    border-bottom: 2px solid var(--design);
    padding-bottom: 12px;
}

.trendingContainerColumn {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.trendingCard {
    background: var(--surface-primary);
    border-radius: 12px;
    padding:16px;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.trendingProfileRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.profileDefault {
    width:42px;
    height: 42px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    display: inline-block;
}

.circleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


